@use 'sass:math';

$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);

$sizeLogo: 60px;

$BgMainColor: #1f253e;
$BgSecondaryColor: #2C324F;
$mainColor: #e3e3e3;
$secondaryColor: #858aa0;

// programmatic language
$html-color: #ff8c4e;
$css-color: #3899d4;
$js-color: #ffde56;
$php-color: #505c91;
$sass-color: #cb689a;
$mysql-color: #e97b00;


$bootstrap-color: #7952b3;
$mongo-color: #13aa52;
$oclock-color: #22c2a7;

// breakpoints
$oneColum: 634px;
$twoColum: 1024px;
