@use 'sass:math';

$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);

$sizeLogo: 60px;

$BgMainColor: #1f253e;
$BgSecondaryColor: #2C324F;

$mainColor: #e3e3e3;
$secondaryColor: #858aa0;

// Memphis Colors
$blue-color: #166CF5;


// breakpoints
$oneColum: 634px;
$twoColum: 1024px;
