@use 'src/styles/vars' as v;

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: v.$orange-color;

	.view {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		//padding: 2rem;
		justify-content: space-between;

		.left {
			display: flex;
			flex-direction: column;

			.view-content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				height: 100%;

				.content-logo {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 256px;
					height: 128px;
					background-color: v.$pink-color;
					color: v.$blue-color;
					text-transform: uppercase;
					font-size: 1.2rem;
					font-weight: bold;
					margin: 2rem;
				}

				.content-text {
					text-align: start;
					display:flex;
					flex-direction: column;
					max-width: 600px;
					padding: 2rem;

					h2 {
						color: #fff;
						font-size: 1.6rem;
						font-weight: bold;
						margin: 0;
					}

					h3 {
						margin: 0;
						font-weight: lighter;
						font-size: 1.2rem;
					}

					h4 {
						span {
							padding: 1rem;
						}
						color: #fff;
						line-height: 1;
						font-size: 1.2rem;
						font-weight: bold;
						margin: 0;
					}

					p {
						font-size: 1.2rem;
					}
				}
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;

			.content-img {
				height: 578px;
				min-width: 340px;
				margin: 2rem;
				background-size: cover;
				background-position: center;
				@media screen and (max-width: 600px) {
					margin: 0;
				}
			}
		}
	}

	.board {
		display: flex;
		justify-content: center;
		img {
			width: 100%;
			max-width: 1400px;
			height: auto;
		}
	}

	.swith {
		background-color: #FFF;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		height: 90px;
		a {
			position: relative;
		}

		.btn {
			min-width: 148px;
			position: relative;
			z-index: 5;
			font-weight: 600;
			text-transform: uppercase;
			border-radius: 0%;
			border: black 3px solid;
			padding: 10px 20px;
			&:hover {
				//background-color: v.$blue-color;
				color: white;
			}
		}

		.tips {
			position: absolute;
			width: 142px;
			height: 38px;
			z-index: 1;
			background-color: v.$blue-color;
			border: v.$black-color 3px solid;
			border-radius: 1%;
			top: 5px;
		}

		.tips-right {
			left: -6px;
		}
		.tips-left {
			right: -6px;
		}
	}
}
