@use 'src/styles/vars' as v;


.container {

	justify-content: flex-start;
	flex-direction: column;

	.section {
		min-height: 490px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 100px 0;
	}

	.title {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			color: v.$blue-color;
	}

	.s1 {

		.content {

			position: relative;
			width: 60%;
			height: 60vh;
			margin-bottom: 10vh;

			.box {
				position: relative;
				z-index: 3;
				background-color: #FFF;
				border: v.$black-color 3px solid;
				border-radius: 1%;
				margin: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;

			}

			.box-content {
				position: absolute;
				top: 10px;
				left: 10px;
				z-index: 1;
				background-color: v.$pink-color;
				border: v.$black-color 3px solid;
				border-radius: 1%;
				margin: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	.s2 {
		.content { max-width: 700px; }
		background-color: v.$yellow-color;
		text-align: start;
	}

	.s3 {
		.content { max-width: 700px; }
		background-color: #FFF;
		text-align: start;
	}

	.s4 {
		.content { max-width: 700px; }
		background-color: v.$pink-color;
		text-align: start;
	}

	@media screen and (max-width: 800px) {
		& > div {
			text-align: center;
		}
	}
}
