@use 'src/styles/vars' as v;


.container {

	justify-content: flex-start;
	flex-direction: column;

	.section1 {
		background-color: #fff;
		min-height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.title {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			color: v.$blue-color;
			padding: 1rem;
			span {
				display: inline-block;
				padding: 5px;
				font-size: 30px;
				font-weight: bold;
			}
			svg { color: v.$pink-color; position: relative; top: 5px; }
		}

		.bio {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.img {
				height: 262px;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 2rem;

				.square {
					position: relative;
					z-index: 3;
					background-color: v.$orange-color;
					border: black 3px solid;
					border-radius: 1%;
					height: 256px;
					width: 256px;

					.test {
						height: 116%;
						width: 108%;
						position: absolute;
						left: 0;
						bottom: 0;
					}
				}
				.square2 {
					position: absolute;
					z-index: 1;
					margin-top: 1.1rem;
					left: 44px;
					top: 26px;
					background-color: v.$blue-color;
					border: black 3px solid;
					border-radius: 1%;
					height: 256px;
					width: 256px;
				}
				.square3 {
					position: absolute;
					z-index: 2;
					top: 32px;
					left: 20px;
					background-color: v.$blue-color;
					border: black 3px solid;
					border-radius: 1%;
					height: 128px;
					width: 25px;
				}
			}
			.text {
				padding: 2rem 5rem;;
				text-align: start;
				max-width: 700px;

				h2 {
					margin: 0;
					span {
						font-size: 1.2em;
						color: v.$blue-color;
						font-weight: bold;
					}
				}

				.btn {
					font-weight: 600;
					text-transform: uppercase;
					border-radius: 0%;
					border: black 3px solid;
					padding: 10px 20px;
					&:hover {
						background-color: v.$blue-color;;
						color: white;
					}
				}
			}
		}

		@media screen and (max-width: 800px) {
			.bio {
				.text {
					text-align: center;
				}
			}
		}
	}

	.section2 {
		background-color: v.$yellow-color;
		height: 490px;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.title {
			display: flex;
			align-items: flex-end;
			//flex-direction: column;
			justify-content: center;
			color: v.$black-color;

			h1 {
				display: flex;
				flex-wrap: wrap;
				align-self: center;
				justify-content: center;
				padding: 0 0.8em;
				margin: 0;
			}
			span {
				position: relative;
				display: flex;
				padding: 5px;
				font-size: 30px;
				font-weight: bold;

				.btn {
					position: absolute;
					top: 44px;
					left: 14px;
					font-weight: 600;
					text-transform: uppercase;
					border-radius: 0%;
					border: black 3px solid;
					padding: 10px 20px;
				}
				.btn:hover {
					background-color: v.$blue-color;;
					color: white;
				}
			}
			svg { color: v.$blue-color; position: relative; top: 5px; margin-left: 24px;}
		}
	}

	.section3 {
		background-color: #fff;
		min-height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.projets {
			display: flex;
			flex-direction: wrap;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			color: v.$blue-color;
			span {
				display: inline-block;
				padding: 5px;
				font-size: 30px;
				font-weight: bold;
			}
			svg { color: v.$yellow-color; position: relative; top: 5px; }
		}

		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.btn {
			margin: 6vh 0;
			font-weight: 600;
			text-transform: uppercase;
			border-radius: 0%;
			border: black 3px solid;
			padding: 10px 20px;
			&:hover {
				background-color: v.$blue-color;
				color: white;
			}
		}
	}

	.section4 {
		background-color: v.$pink-color;
		min-height: 490px;

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.content {
				margin: 2rem 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				.rond {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 2rem;
					position: relative;
					z-index: 2;
					background-color: v.$yellow-color;
					border: black 3px solid;
					width: 250px;
					height: 250px;
					border-radius: 50%;

					&:hover {
						background-color: v.$pink-color;
						box-shadow: v.$yellow-color 1px 1px 1px 1px;

						.push {
							opacity: 1;
							transition: opacity 0.5s ease-in;

							.bar {
								height: 20px;
								border: v.$pink-color 4px solid;
								border-width: 3px 0 3px 0;
								background-color: v.$yellow-color;
							}
						}
					}

					.push {
						opacity: 0;

						h2 {
							margin: 0;
							font-weight: bold;
							font-size: 1.5rem;
							background: v.$blue-color;
							padding: 1rem;
							color: v.$pink-color;
						}
					}



					.style {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						position: absolute;
						bottom: 8px;
						right: 8px;
						z-index: 1;
						background-color: #FFF;
						border: black 3px solid;
						width: 250px;
						height: 250px;
						border-radius: 50%;
						opacity: 1;

						&:hover{
							opacity: 0;
							transition: all 0.1s ease-out;
						}

						h2, p {
							margin: 0.4rem 0 0.4rem 0;
						}
						p {
							max-width: 200px;
						}

						h2 {
							font-size: 1.5rem;
							text-transform: uppercase;
							color: v.$yellow-color;

							& span {
								color: black;
								padding: 0.4rem;
								font-size: 1.5em;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
	}
}

.section5 {
	background-color: #fff;
	min-height: 600px;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 1rem 0;

		.text {
			max-width: 50%;
			font-size: 1.2rem;
		}

		.content {
			margin: 2rem 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.rect {
				background-color: v.$yellow-color;
				background-size: cover;
				border: black 3px solid;
				width: 280px;
				height: 200px;
				margin: 2rem;
			}
		}
	}
}

.section6 {
	background-color: v.$blue-color;
	height: 490px;
}