@use 'src/styles/vars' as v;

.section1 {
	background-color: #fff;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title {
		display: flex;
		flex-direction: wrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		color: v.$blue-color;
		span {
			display: inline-block;
			padding: 5px;
			font-size: 30px;
			font-weight: bold;
		}
		svg { color: v.$pink-color; position: relative; top: 5px; }
	}

	.bio {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 444px;
			margin: 1rem 0;

			.square {
				position: absolute;
				z-index: 3;
				background-color: v.$orange-color;
				border: black 3px solid;
				border-radius: 1%;
				height: 256px;
				width: 256px;

				.test {
					height: 100%;
					width: 100%;
				}
			}
			.square2 {
				position: relative;
				z-index: 1;
				top: 10px;
				left: -5px;
				background-color: v.$blue-color;
				border: black 3px solid;
				border-radius: 1%;
				height: 256px;
				width: 256px;
			}
			.square3 {
				position: relative;
				z-index: 2;
				top: -64px;
				left: 5px;
				background-color: v.$blue-color;
				border: black 3px solid;
				border-radius: 1%;
				height: 128px;
				width: 25px;
			}
		}
		.text {

			padding: 2rem 0;
			text-align: start;
			width: 50%;

			h2 {
				margin: 0;
				span {
					font-size: 1.2em;
					color: v.$blue-color;
					font-weight: bold;
				}
			}


			.btn {
				font-weight: 600;
				text-transform: uppercase;
				border-radius: 0%;
				border: black 3px solid;
				padding: 10px 20px;
				&:hover {
					background-color: v.$blue-color;;
					color: white;
				}
			}
		}
	}
}
.section2 {
	background-color: v.$yellow-color;
	height: 490px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		color: v.$black-color;
		span {
			display: inline-block;
			padding: 5px;
			font-size: 30px;
			font-weight: bold;
		}
		svg { color: v.$blue-color; position: relative; top: 5px; }
	}

	.text {
			text-align: center;

			.btn {
				font-weight: 600;
				text-transform: uppercase;
				border-radius: 0%;
				border: black 3px solid;
				padding: 10px 20px;
			}
			.btn:hover {
				background-color: v.$blue-color;;
				color: white;
			}
		}
}

.section3 {
	background-color: #fff;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.projets {
		display: flex;
		flex-direction: wrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		color: v.$blue-color;
		span {
			display: inline-block;
			padding: 5px;
			font-size: 30px;
			font-weight: bold;
		}
		svg { color: v.$yellow-color; position: relative; top: 5px; }
	}

	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.btn {
		margin: 6vh 0;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 0%;
		border: black 3px solid;
		padding: 10px 20px;
		&:hover {
			background-color: v.$blue-color;
			color: white;
		}
	}
}

.section4 {
	background-color: v.$pink-color;
	height: 490px;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.content {
			margin: 2rem 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.rond {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 2rem;
				position: relative;
				z-index: 2;
				background-color: v.$yellow-color;
				border: black 3px solid;
				width: 250px;
				height: 250px;
				border-radius: 50%;

				&:hover {

					background-color: v.$pink-color;
					box-shadow: v.$yellow-color 1px 1px 1px 1px;

					.push {
						//background-color: red;
						.bar {
							height: 20px;
							border: v.$pink-color 3px solid;
							border-left: 0;
							border-right: 0;
							background-color: v.$yellow-color;
						}
					}

					h2 {
						margin: 0;
						font-weight: bold;
						font-size: 1.5rem;
						background: v.$blue-color;
						padding: 1rem;
						color: v.$pink-color;
					}
				}

				& h2 {
					& span {
						color: black;
						padding: 0.4rem;
						font-size: 1.5em;
						text-transform: uppercase;
					}
					font-size: 1.2rem;
					text-transform: uppercase;
					color: v.$yellow-color;
				}

				.style {

					& * {
						margin: 0.4rem 0 0.4rem 0;
					}
					p {
						max-width: 200px;
					}
					h1 {
						margin: 0;
					}
					h2 {
						font-size: 1.5em;
					}

					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: absolute;
					bottom: 8px;
					right: 8px;
					z-index: 1;
					background-color: #FFF;
					border: black 3px solid;
					width: 250px;
					height: 250px;
					border-radius: 50%;
					opacity: 1;
					&:hover{
						opacity: 0;
						transition: all 0.1s ease-out;
					}
				}
			}
		}
	}
}

.section5 {
	background-color: #fff;
	height: 960px;
}

.section6 {
	background-color: v.$blue-color;
	height: 490px;
}