@use 'src/styles/vars' as v;

.box {
	position: absolute;
	z-index: 3;
	background-color: #FFF;
	border: v.$black-color 3px solid;
	border-radius: 1%;
	margin: 20px;
	width: 280px;
	height: 200px;
	background-size: cover;

	.box-tips {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

		&:hover {
			background-color: v.$yellow-color;
			//transition: background-color 0.2s ease-in-out;
		}

		.box-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			color: black;

			height: 100%;
			width: 100%;
			opacity: 0;
			&:hover {
				opacity: 1;
				transition: opacity 0.5s ease-in;
			}
			&-title, &-text, &-tags {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 1rem;
			}

			&-title{
				font-size: 1.5rem;
			}
			&-text{
				font-size: 1.2rem;
			}
			&-tags{
				font-size: 1rem;
			}
		}
	}
}

.box2 {
	position: relative;
	top: 10px;
	left: 10px;
	z-index: 1;
	background-color: v.$blue-color;
	border: v.$black-color 3px solid;
	border-radius: 1%;
	margin: 20px;
	width: 280px;
	height: 200px;
}